footer {
  align-items: center;
  background: #111827;
  border-radius: 48px 48px 0px 0px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: calc(654px - 28px - 80px);
  justify-content: space-between;
  max-width: calc(1280px - 2 * 24px);
  padding: 80px 24px 28px;
  width: 100%;
}

footer h2 {
  color: #fff;
}

footer a {
  align-items: center;
  border-bottom: #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 100%;
  margin-left: 0;
  padding: 8px;
  text-decoration: none;
}

footer p {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-left: 0;
  max-width: 327px;
  width: 100%;
}

#footer-content {
  align-items: center;
  display: flex;
  gap: 64px;
  justify-content: center;
}

#footer-left-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 595px;
  width: 100%;
}

#footer-social {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-left: 0;
}

#footer-ends {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  max-width: 446px;
  width: 100%;
}

#footer-ends p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  text-align: center;
  white-space: nowrap;
}

#footer-design {
  align-items: center;
  display: flex;
  gap: 8px;
}

#footer-left-col ~ img {
  height: 452px;
}

#footer-ends > img {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  padding: 4px 0px;
  width: 40px;
}
