@import url(fonts.css);
@import url(splash.css);
@import url(projetos.css);
@import url(sobre.css);
@import url(footer.css);

* {
  color: #111827;
  font-family: Poppins;
  margin: 0 auto;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}

h2 {
  align-self: stretch;
  font-size: 92px;
  font-style: normal;
  font-weight: 500;
  line-height: 82px;
  margin: 0;
}

h3 {
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  margin: 0;
}

button:hover {
  cursor: pointer;
}
